@import url('https://fonts.googleapis.com/css?family=Lora');

$color-error: #ff0000;
$color-secondary: #F0DCB6;
$color-primary: #ff777a;
$color-success: #77ff7a;
$color-white: rgb(0, 0, 0);
$color-black: rgb(255, 255, 255);
$color-lightgrey: rgb(168, 0, 126);
$color-grey: rgb(10, 50, 145);
$color-darkgrey: #6E7177;
$color-darkcyan: #4d6363;

$pad: 0.9em;

$acme-font: 'Acme', sans-serif;
$shadow-font: 'Shadows Into Light', cursive;
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Roboto Mono', monospace;

$modal-color: rgba(0,0,0,0.4);
$modal-background: #87CEFA;;

$bg-texture: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");